<template><div id="tabletest">
<download-excel
    class   = "btn btn-default"
    :data   = "thailandlist"
    :fields = "json_fields"
    name    = "thailand_address.xls">
    Export Excel
</download-excel>

<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-header">
        <slot name="header"></slot>
      </div>
    </div>
  </transition>
</script>

<ul>
    <li v-for="pageNumber in totalPages">
      <button class="page-btn" @click="setPage(pageNumber)" >{{ pageNumber }}</button>
    </li>
</ul>

<table class="table table-bordered">
    <thead>
        <tr>
            <th> <a href="#" v-on:click="sortBy('Province')">Province</a></th>
            <th> District/Area </th>
            <th> Sub-district </th>
            <th> <a href="#" v-on:click="sortBy('Postal code')">Postal code</a></th>
            <th> Delete/Edit </th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(address,index) in thailandlistSort">
            <td>{{address.province}}</td>
            <td>{{address.area}}</td>
            <td>{{address.subArea}}</td>
            <td>{{address.postalCode}}</td>
            <td>
                <button v-on:click="removeRow(index)">X</button>
                <button class="show-modal" @click="showModal=true, setEdit(index)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>

<modal v-if="showModal">
  <div slot="header">
    <h3>Edit</h3>
    <hr>
    <label>Province: <input v-model="provinceEdit"></label>
    <label>Area: <input v-model="areaEdit"></label>
    <label>Sub-area: <input v-model="subAreaEdit"></label>
    <label>Postal code: <input v-model="postalCodeEdit"></label>
    <button class="modal-default-button" @click="showModal=false">Cancel</button>
    <button class="modal-default-button" @click="showModal=false, saveEdit=true, updateEdit(index,provinceEdit,areaEdit,subAreaEdit,postalCodeEdit)">Save</button>
    <br>
  </div>
</modal>

</div></template>

<script>

export default{
    computed:{
        thailandlist(){
            return this.$store.state.thailandlist;
        }, 
        thailandlistSort: function(){
          this.$store.commit("sortTable",{sortKey:this.sortKey,reverse:this.reverse});
          this.resulteCount = this.thailandlist.length;
          var checklast = false;
          if(this.currentPage>=this.totalPages){
            this.currentPage = Math.ceil(this.resulteCount/this.itemsPerPage);
            checklast = true;
          }
          var index;
          if(this.currentPage==1) { index = 0; }
          else if(checklast==true){
            index = (this.currentPage-1)*this.itemsPerPage;
          }
          else if(this.currentPage!=this.totalPages && this.currentPage!=0){
            index = (this.currentPage-1)*this.itemsPerPage;
          }
          else{
            index = this.currentPage*this.itemsPerPage;
          }
          return this.$store.state.thailandlist.slice(index,index+this.itemsPerPage);
        },
        totalPages:function(){
          return Math.ceil(this.thailandlist.length/this.itemsPerPage);
        },
    },
    methods:{
        removeRow: function(index){
            this.$store.commit("removeRow",index);
        },
        addData: function(province,area,subArea,postalCode){
            this.$store.commit("addData",{province:province,area:area,subArea:subArea,postalCode:postalCode});
        },
        updateEdit:function(index,province,area,subArea,postalCode){
            alert("Edit Complete");
            this.$store.commit("updateEdit",{index:index,province:province,area:area,subArea:subArea,postalCode:postalCode});
        },
        setEdit:function(index){
            this.index = index;
            this.provinceEdit = this.$store.state.thailandlist[index].province;
            this.areaEdit = this.$store.state.thailandlist[index].area;
            this.subAreaEdit = this.$store.state.thailandlist[index].subArea;
            this.postalCodeEdit = this.$store.state.thailandlist[index].postalCode;
        },
        sortBy: function(sortKey){
          this.reverse = (this.sortKey == sortKey) ? ! this.reverse : false;
          this.sortKey = sortKey;
        },
        setPage: function(pageNumber){
          this.currentPage = pageNumber;
        },    
    },
    data(){
        return{
            json_fields : {
                "Province" : "String",
                "Area" : "String",
                "Sub-Area" : "String",
                "Postal code" : "String",
            },
            columns: ['Province','District/Area','Sub-district','Postal code'],
            sortKey: 'Province',
            reverse: false,
            showModal:false,
            saveEdit:false,
            provinceEdit: '',
            areaEdit: '',
            subAreaEdit: '',
            postalCodeEdit: '',
            index: '',
            currentPage:0,
            itemsPerPage:100,
            resulteCount:0,

        }
    },
}
</script>


<style scoped>
#tabletest {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
a{
  color:white;
}
table {
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
 
}
th {
  background-color: #42b983;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
td {
  background-color: #f9f9f9;
  font-size:14px;
}
th, td {
  min-width: 120px;
  padding: 7px 20px;
  text-align: center;
}
th.active {
  color: #fff;
}
th.active .arrow {
  opacity: 1;
}
.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}
.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}
.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}

.btn.btn-default{
    background-color: #05984e;
    border: 2px solid #05984e;
    color: #fff;
    padding: 13px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
button{
    background-color: #fb4c4c;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.show-modal {
    background-color: #000;
}
.modal-header input {
  display: block-inline;
  margin: auto;
  outline: 0;
  border: 1px solid grey;
  font-size: 1.0em;
  border-radius: 5px;
  padding: 5px;
  width:70%;
}
.modal-header label {
  display: block;
  font-family: sans-serif;
  margin: 20px auto 20px;
} 
h3{
  color: #42b983;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

hr{ margin-bottom:20px; }
br{ margin-bottom:20px; }

.modal-header div{
  width: 40%;
  margin: 0px auto;
  padding: 10px 20px 40px 20px;
  background-color: #fff;
  transition: all .3s ease;
  margin-top: 40px;
}

.modal-default-button {
  float: right;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 0px 10px;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
  margin: 5px 5px;
}
.page-btn {
    background-color: #42b983;
}

</style>