<template><div id="app">
  <h1>Thailand Information</h1>
  <hr>
 <!-- {{setJson()}}
  {{thailandlist}} -->
  <button v-if="!openTable" v-on:click="readFile(), openTable=true">Open Table</button>
  <tabletest v-if="openTable"></tabletest>
</div></template>

<script>
import DataTable from './components/DataTable.vue';
import db2 from './db2.json';

export default {
  name: 'app',
  components:{
    'tabletest': DataTable,
  },
  methods:{
    /*  setJson: function(){
        this.dbjson = db2;
      }, */
      addAddress: function(pro,dis,sub,code){
        this.$store.commit("addAddress",{province:pro, area:dis, subArea:sub,postalCode:code});
      },
      readFile:function(){
        this.dbjson = db2;
        var db = this.dbjson.data;
        for(var i=0;i<db.length;i++){
          var pro = db[i][0];
          for(var j=0;j<db[i][1].length;j++){
            var dis = db[i][1][j][0];
            for(var k=0;k<db[i][1][j][1].length;k++){
              var sub = db[i][1][j][1][k][0];
              var code = db[i][1][j][1][k][1];
              this.$store.commit("addAddress",{province:pro, area:dis, subArea:sub,postalCode:code});         
            }
          }
        }
      },
  },
  data(){
    return{
      dbjson:[],
      openTable: false,
    }
  },
  computed:{
   /* thailandlist(){
      var db = this.dbjson.data;
      var id = 1;
      for(var i=0;i<db.length;i++){
        var pro = db[i][0];
        for(var j=0;j<db[i][1].length;j++){
          var dis = db[i][1][j][0];
          for(var k=0;k<db[i][1][j][1].length;k++){
            var sub = db[i][1][j][1][k][0];
            var code = db[i][1][j][1][k][1];
            this.$store.commit("addAddress",{id:id,province:pro, area:dis, subArea:sub,postalCode:code}); 
            id++;        
          }
        }
      }
    }, */
  },
}
</script>

<style scoped>
h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #029854;
  padding: 10px;
}
hr{
	border-top: 3px double #8c8b8b;
}
button{
    background-color: #42b983;
    border: 2px solid #42b983;
    color: #fff;
    padding: 13px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
</style>
